.flex{
display: flex;
justify-content: space-around;
width: 100%;
flex-direction: row;
margin-bottom: 75px;
}

.card {
width: 330px;
background-color: rgb(218, 218, 238);
box-shadow: 0.5px 0.5px 7px black;
border-radius: 10px;
overflow: hidden;
cursor: pointer;
transition-duration: 0.3s;
}

.card:hover{
    background-color: rgb(128, 130, 133);
}

.card img{
    width: 100%;
    height: 300px;
    padding-bottom: 10px;
}

.card .title{
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-size: 25px;
    padding-bottom: 15px;
    text-align: center;
    border-bottom: 1px solid grey;
}

.card .description{
    padding-top: 15px;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(52, 49, 49);
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
    padding-bottom: 20px;
}