body{
    background-color: rgb(198, 229, 242);
}

.box{
    margin: 50px 0px;
    width: 80%;
    height: 600px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color: rgb(19, 19, 19);
    overflow: hidden;
    color: white;
    display: flex;
}

.box .imgBox{
    height: 100%;
    width: 40%;
}

.box .imgBox img{
    height: 100%;
    width: 100%;
}

.box .descriptionBox{
   height: 100%;
   width: 60%;
   padding-left: 40px;
   padding-right: 40px;
}


.box .descriptionBox h1{
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-decoration: solid;
}

.box .descriptionBox .flex{
    padding-bottom: 50px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 55%;
}

.box .descriptionBox .flex p{
    font-weight: bolder;
    font-size: 15px;
}

.box .descriptionBox .stars{
    display: flex;
    justify-content: space-between;
    width: 40%;
    padding-bottom: 100px;
}

.box .descriptionBox .stars img{
    width: 30px;
    height: 30px;
}

.box .descriptionBox .p{
    font-size: 20px;
    padding-bottom: 100px;
}

.box .descriptionBox{
    font-size: 20px;
    font-weight: bolder;
}

.box .descriptionBox .last{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.gif{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif img{
    width: 800px;
    height: 500px;
}

.btn button{
   margin-left: 200px;
   padding: 10px;
   border: none;
   background-color: yellow;
   color: black;
   font-size:20px ;
   font-weight: bolder;
   border-radius: 10px;
   box-shadow: 2px 2px 3px black;
   margin-bottom: 50PX;
   cursor: pointer;
}