/* .end{
   display: flex;
   width: 100%;
   align-items: end;
   height: 100vh;
} */

.footer{
   max-width: 100%;
    height: 350px;
    background-color: blue;
    box-shadow: 8px 0px 14px blue;
    padding: 30px 30px;
}

.footer .flex{
    display: flex;
    height: 100%;
    justify-content: space-around;
}

.footer .flex .contain1{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
}

.footer .flex .contain1 h1{
    color: wheat;
    font-size: 40px;
    font-weight: bolder;
    padding-bottom: 50px;
}

.footer .flex .contain1 div{
    display: flex;
    flex-direction: column;
}

.footer .flex .contain1 img{
    width: 230px;
    height: 60px;
    padding-bottom: 10px;
}

.footer .flex .container2{
    display: flex;
    gap: 45px;
    justify-content: center;
    height: 80px;
    border-bottom: 1px solid white;
    align-items: center;
    margin-bottom: 75px;
}

.footer .flex .colom{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.footer .flex .colom .last{
text-align: center;
padding-top: 80px;
color: rgb(222, 188, 188);
font-size: 20px;
font-weight: 900;

}

.footer .flex .logos{
    display: flex;
    justify-content: center;
    gap: 80px;
}

.footer .flex .logos img{
    width: 50px;
    height: 50px;
}

.footer .flex .logos img:hover{
    cursor: pointer;
}

.footer .flex .container2 h1{
    color: white;
    font-size: 40px;
}

.footer .flex .container2 .h1{
    transition-duration: 0.2s;
}

.footer .flex .container2 .h1:hover{
    text-decoration: underline;
}


