*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: rgb(207, 191, 191);
    transition-duration: 0.4s;
}

.change{
    background-color: rgb(18, 17, 17);
    color: white;
}