.flex{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.flex input{
    width: 200px;
    height: 45px;
    border-radius: 10px;
    margin-right: 10px;
    border: none;
    box-shadow: 2px 2px 2px black;
    font-weight: bolder;
    font-size: large;
    text-align: center;
    margin-bottom: 50px;
}

.flex input:focus{
    outline: none;
    background-color: rgb(220, 216, 216);
}

.flex button{
    cursor: pointer;
    background-color: yellow;
    color: black;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 50px;
}