.why {
  margin-top: 100px;
  margin-bottom: 150px;
}

.why .h1 {
  font-size: 70px;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 10px;
  color: rgb(0, 0, 0);
  font-style: italic;
}

.father {
  width: 1200px;
  margin: auto;
  overflow: hidden;
}

.popcornContain {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
}

.popcorn {
  width: 92%;
  height: 500px;
  box-shadow: 3px 3px 4px black;
}

.container {
  width: 1100px;
  height: 350px;
  background-color: rgb(22, 24, 184);
  margin: auto;
  margin-top: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  box-shadow: 3px 3px 10px black;
}

.features {
  display: flex;
  width: 420px;
  height: 100px;
  align-items: center;
  gap: 20px;
}

.features h1 {
  color: gold
}

.features p {
  font-weight: bolder;
  font-size: larger;
  color:white;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.father button {
  padding: 20px;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 20px;
  border-radius: 10px;
  font-weight: bolder;
  margin-bottom: 30px;
}

.features img {
  width: 40px;
  height: 40px;
}

.title{
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    text-shadow: 3px 0px 5px black;
    padding-bottom: 30px;
    color: rgb(125, 105, 105);
    font-size: 60px
}